
.container{
  width: 100vw;
  height: 100vh;
  background-color: #0000009e;
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  .wrapper {
    height: 300px;
    width: 500px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 3px;
    margin: auto;
    position: relative;
  }
}
