:host{
  text-align: center;
  .wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;

  }

  .container{
    width: 30vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 10px;
    border-radius: 0.5em;
    -webkit-box-shadow: 0px 0px 30px 4px rgba(140,129,129,0.75);
    -moz-box-shadow: 0px 0px 30px 4px rgba(140,129,129,0.75);
    box-shadow: 0px 0px 30px 4px rgba(140,129,129,0.75);
  }

  dog-date-picker{
    display: block;
  }
dog-time-picker{
  display: block;
}

  .actions {
    display: grid;
    place-content: center space-evenly;
    grid-template-columns: 2fr;
  }
}
