:host{
  display: grid;
  place-content: center;
  margin-top: 50px;

  h1{
    text-align: center;
    font-size: 4em;
  }

  .container{
    width: 500px;
    height: 600px;
    border-radius: 1em;
    box-shadow: 0 2px 1px 1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 1px rgb(0 0 0 / 12%);
    overflow: scroll;
  }
  form{
    display: grid;
    place-content: center;
    height: 30vh;
    max-width: 90vw;
  }
  button{
    font-size: 1.5em;
  }
  hint{
    font-size: 1em;
  }
  .actions {
    display: grid;
    place-content: center space-evenly;
    grid-template-columns: 2fr 2fr;
  }

}

