/* You can add global styles to this file, and also import other style files */

html, body { height: auto; }
body { margin: 0; font-family: 'Zen Loop', cursive; }
*{
  font-family: 'Zen Loop', cursive !important;
}
